.acordionBox {
  width: 50%;
  display: flex;
  align-items: end;
  justify-content: center;
  font-size: 1.4rem;
  @media (max-width: 480px) {
    font-size: 1rem;
    width: 80%;
  }
  @media (max-width: 900px) {
    font-size: 1.4rem;
    width: 80%;
  }
}
.acordion {
  width: 750px;
  :last-child {
    padding: 0px 20px;
    margin-bottom: 0px;
  }
  @media (max-width: 480px) {
    :last-child {
      padding: 0px 0px;
    }
  }
  @media (max-width: 900px) {
    :last-child {
      padding: 0px 0px;
    }
  }
}
.item {
  margin-bottom: 5px;
  padding: 2px 20px;
  @media (max-width: 480px) {
    padding: 0px 0px;
  }
  @media (max-width: 900px) {
    padding: 0px 0px;
  }
}
.title {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  h2 {
    font-weight: normal;
  }
  h2:hover {
    scale: 1.1;
  }
}
.descHidden {
  overflow: hidden;
  max-height: 0;
  transition: all 0.5s ease-in-out;
  color: rgba(26, 26, 26, 255);
}
.desc {
  height: auto;
  display: block;
  transition: all 0.5s ease-in-out;
  color: white;
  white-space: pre-line;
  padding: 0.5rem 0.5rem;
  line-height: 145%;
  letter-spacing: 0.2rem;
  @media (max-width: 480px) {
    padding: 0px 0px;
    letter-spacing: 0;
  }
  @media (max-width: 900px) {
    padding: 0px 0px;
    letter-spacing: 0;
  }
}
