.container {
  display: flex;
  width: 100%;
  color: white;
  justify-content: center;
  padding: 10rem 7%;
  font-size: 1.4rem;
  gap: 2rem;
  @media (max-width: 480px) {
    font-size: 1rem;
    flex-direction: column;
    align-items: center;
  }
  @media (max-width: 900px) and (min-width: 481px) {
    font-size: 1.4rem;
    flex-direction: column;
    align-items: center;
  }
}
.listBox {
  width: 80%;
  text-align: center;

  h2 {
    color: white;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;

    span {
      padding-left: 0.9rem;
      font-size: 1.4rem;

      @media (max-width: 900px) and (min-width: 481px) {
        font-size: 1.4rem;
      }
    }
  }
  h2:hover {
    scale: 1.2;
  }
  ul {
    text-align: left;
    @media (max-width: 480px) {
      list-style: none;
    }
    @media (max-width: 900px) and (min-width: 481px) {
      list-style: none;
    }
  }
  li {
    padding-top: 0.3rem;
    font-size: 1.3rem;
  }
}

.descHidden {
  overflow: hidden;
  max-height: 0;
  transition: all 0.3s ease-in-out;
}
.desc {
  height: auto;
  max-height: 9999;
  transition: all 0.3s ease-in-out;
  color: white;
  white-space: pre-line;
  padding: 0.5rem 0.5rem;
  line-height: 145%;
}
